<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoao.blog.common.domain.mapper.TagMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO t_tag (name)
        VALUES
        <foreach collection="list" item="tag" separator=",">
            (#{tag.name})
        </foreach>
    </insert>


    <select id="selectExist" resultType="com.aoao.blog.common.domain.dos.TagDO">
        SELECT * FROM t_tag
        <where>
            name IN
            <foreach collection="tags" item="tag" open="(" separator="," close=")">
                #{tag}
            </foreach>
        </where>
    </select>
    <select id="selectByArticleId" resultType="java.lang.Long">
        SELECT t.id FROM t_tag t
            LEFT JOIN t_article_tag_rel at
                ON t.id = at.tag_id
                    WHERE t.is_deleted=0 AND at.article_id=#{articleId}
    </select>
    <select id="selectBatchByArticleIds" resultType="java.util.Map">
            SELECT tag.id, tag.name,at.article_id AS articleId
            FROM t_tag AS tag
            LEFT JOIN t_article_tag_rel at ON tag.id = at.tag_id
            <where>
                <if test="aIds != null and aIds.size > 0">
                    AND at.article_id IN
                    <foreach collection="aIds" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
                <if test="aIds == null or aIds.size == 0">
                    AND 1 = 0
                </if>
            </where>
    </select>
    <select id="selectWithArticleTotal" resultType="java.util.Map">
        SELECT t.id,count(*) as articleTotal FROM t_article_tag_rel at,t_tag t WHERE at.tag_id=t.id GROUP BY t.id
    </select>
</mapper>
